{% extends 'base.html.twig' %}
{% block title %}Nuevo Producto{% endblock %}
{% block headerContent %}Agregar un Nuevo Producto{% endblock %}
{% block bodyContent %}
    <div class="formContainer">
        <div class="centerContent">
            <div>
                <div class="button backgroundGreen">
                    <span class="glyphicon glyphicon-triangle-left"></span>
                    <a href="{{ path('products_index') }}">Regresar al listado</a>
                </div>
            </div>
        </div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Guardar producto" />
        {{ form_end(form) }}
    </div>
{% endblock %}
